.recomentation {
  .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: radial-gradient(
      35.77% 35.77% at 50% 50%,
      rgba(43, 41, 41, 0) 0%,
      rgba(0, 0, 0, 0.112) 55.52%,
      rgba(0, 0, 0, 0.448) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .item {
    background: rgba(0, 0, 0, 0.7);
    padding: 70px 20px 35px 20px;
    h4 {
      padding-bottom: 50px;
    }
  }
  .more {
    background: #c4c4c4;
    width: 196px;
    display: block;
    height: 41px;
    line-height: 41px;
    font-size: 15px;
    color: #000000 !important;
    margin: 0 auto;
  }
}
