.header {
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}

.button {
  border: 0;
  padding: 20px 40px 20px 20px;
  width: 100%;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  font-size: 26px !important;
  &.rotate {
    transform: rotate(180deg);
  }
}
