{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 90
}
