.bar {
  font-size: 14px;
  color: #818181;
  position: sticky;
  background: #fff;
  z-index: 99;
  top: 0;

  &:first-child::before {
    content: 'Sort by: ';
    color: #000;
    display: block;
    font-weight: 600;
    margin: 1rem 0;
  }
}
