.styky {
  list-style-type: none;
  margin: 40px 0;
  li {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin: 10px 0 0;
    color: #a4a4a4;
  }
}

.link {
  color: #a4a4a4;
  cursor: pointer;
  &.active,
  &:hover {
    cursor: pointer;
    color: #000000;
  }
}
