.styky {
  list-style-type: none;
  //margin: 40px 0;
  // li:first-child {
  //   margin-top: 0;
  // }
  li {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin: 10px 0 0;
    color: #a4a4a4;
  }
}
.trackBook {
  background-color: #a6192e !important;
  border: none;
}

.link {
  color: #a4a4a4;
  cursor: pointer;
  &.active,
  &:hover {
    cursor: pointer;
    color: #000000;
  }
}
.boxAside {
  background-color: #f2f2f2;
  position: sticky;
  top: 0px;
  height: 110vh;
}
