.box {
  position: relative;
  color: #fff;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0;
    padding: 15px 0;
  }
}
