.box {
  position: relative;
  color: #fff;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    text-align: center;
    text-shadow: 2px 1px 1px #000;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0;
    padding: 15px 0;
  }
}
.abc {
  overflow: auto;
  padding-top: 10px;
  padding-left: 25px;
  max-width: 498px;
  max-height: 600px;
  margin-right: 0px;
}

.shadow {
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
