@import '../../../../styles/media-queries.scss';

.form {
  z-index: 9;
  width: 100%;
  bottom: 115px;
  position: absolute;

  /*  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
    margin-top: 10px;
    position: static !important;
  } */
  @media (max-width: $md) {
    position: static;
    background: #000;
    padding: 40px 0;
  }

  .form-control {
    color: #000 !important;
    border-radius: 0;
    height: calc(1.5em + 1.3rem + 2px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid transparent; // rgba(196, 196, 196, 0.9);
  }

  button {
    height: 45px;
  }
}

.botonWhite {
  background-color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 16px;
}
