.header {
 
  .logo {
    font-size: 200px !important;
    height: 74px;
  }

  button {
    letter-spacing: 1px;
    height: 38px;
  }
}

.subnav > ul {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  justify-content: flex-end;
  li:not(:last-child) {
    margin-right: 35px;
  }
  a {
    color: #000;
  }
  a:not(:first-child) {
    padding-left: 25px;
  }

  a:hover {
    color: #0095ce;
  }
}
.subnav2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 500;

}
.label {
  font-size: 11px;
  position: absolute;
  color: transparent;
  left: 23px;

  transition: 0.2s ease-in;
  // position: absolute;
  // font-size: 15px;
  // color: #3a3a3a;
  // background: #fff;
  z-index: -1;
}
.labelFocus {
  transition: 0.2s ease-in;
  position: absolute;
  font-size: 13px;
  color: #000000;
  background: #fff;
  top: -9px;
  left: 23px;
}
.input {
  color: #383838;
  font-size: 14px;
  padding: 10px 20px;
  width: calc(100%);
  border: 1px solid #cdcdcd;
}
.input:focus,
.input:hover {
  outline: none;
}
.suggestionsList {
  border: 1px solid #cdcdcd;
  max-height: 500px;
  overflow-y: auto !important;
}
.suggestion {
  color: #383838;
  font-size: 14px;
  padding: 5px 15px;
}
.suggestionHighlighted {
  cursor: pointer;
  background: #ebebeb;
}
.suggestionsList {
  width: calc(100%);
  display: block;
  position: absolute;
  z-index: 1999;
  background: #fff;
}

.iconSearch svg {
  position: absolute;
  top: 34%;
  right: 20px;
}

.svg {
  width: 40px;
  padding-right: 6px;
  img {
    width: 30px;
  }
}

.listSuggestion ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
