.header {
  //background-color: red;
  /* .level-1 {
    height: 300px;
  } */
  .logo {
    font-size: 140px !important;
    position: absolute;
    top: -12px;
  }
}

/* .header-lg .level-1 {
  padding-top: 26px;
  padding-bottom: 25px;
}

.header-lg .menu1 {
  height: 86px;
}

.header-lg nav ul li > a {
  padding-left: 64px !important;
}

.level-1 .navbar-brand {
  padding-left: 40px;
  padding-top: 11px;
}



.logo {
  font-size: 140px !important;
  position: absolute;
  top: -12px;
}

.button-search {
  height: 55px !important;
}

.navbar {
  z-index: 999;
  width: 100%;
  min-height: 50px;
  padding: 0;
}
 */
/* .logo-responsive {
  font-size: 120px !important;
  position: absolute;
  top: -22px;
  left: 6px;
} */

/* .navbar-light .navbar-nav .nav-link {
  z-index: 99;
} */
