.item {
  img {
    width: 100px;
    transition: ease-out 0.1s;
  }
  a {
    color: black;
    font-weight: bold;
    font-size: 18px;
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
      }
    }
  }
}
