@import '../../../../styles/media-queries.scss';

.banner {
  // margin: 0 auto;
  height: auto;
  max-width: 1200px;
  // @media (max-width: $ipadPro) {
  //   height: calc(50vh);
  // }

  // @media (max-width: $sm) {
  //   height: calc(60vh);
  // }
  p {
    padding: 10px 0;
    font-style: italic;
    font-size: 13px;
    text-align: center;
  }
}
