@import '../../../../styles/media-queries.scss';

.containerBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 575px) {
    margin: 5px;
  }

  div {
    padding-bottom: 30px;
  }

  & div img {
    max-width: 100%;
    height: auto;
  }
}
