@import '../../../../styles/media-queries.scss';

.banner {
  height: calc(100vh - 162px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $ipadPro) {
    height: calc(60vh);
  }

  @media (max-width: $sm) {
    height: calc(40vh);
  }
}

.title{

  @media (max-width: $sm) {
    font-size: 10px;
  }
}

.align {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p,
  h2 {
    z-index: 3;
    width: 400px;
    @media (max-width: $sm) {
      font-size: 20px !important;
      width: 300px;
    }
  }
  
}
.alignend {
  align-items: flex-end;
}

.shadow {
  z-index: 1;
  background: linear-gradient(
    267.13deg,
    rgba(0, 0, 0, 0.7) 29.42%,
    rgba(0, 0, 0, 0) 67.17%
  );
}
