.circle {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #fff;
  &.active {
    background-color: #0097da;
    border: 1px solid #0097da;
  }
}
