.footer {
  background-color: #000;

  padding: 80px 55px 40px 55px;
  a {
    color: #ffffff;
    margin-bottom: 7px;
    display: block;
    font-size: 15px;
    &:hover {
      color: #179bd7;
    }
  }

  .title {
    border-bottom: 1px solid #525252;
  }
}
