.notification {
  background-color: #0095ce;
  padding: 2px 0 10px;
  a {
    color: #fff !important;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid #ffff;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
}
