@import '../../../../styles/media-queries.scss';

.menu {
  z-index: 999;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  margin: 56px 0px;
  .content {
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    h5 {
      a:hover {
        cursor: pointer;
        color: #179bd7 !important;
        border-bottom: 2px solid #179bd7;
      }
    }
    h4 {
      border-bottom: 2px solid #000;
      margin-bottom: 20px;
      width: auto;
      display: inline-block;
    }
  }
  .itemsAbout {
    padding-left: 0;
    list-style-type: none;
    li {
      padding-bottom: 20px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }
    li::after {
      content: '❯';
    }
    li:hover {
      cursor: pointer;
      color: #179bd7;
    }
  }
  .extendAbout {
    padding-left: 20px;
    background-color: rgb(240, 240, 240);
    // padding-top: 20px;
    ul {
      padding-top: 20px;
      list-style-type: none;
      li {
        padding-bottom: 20px;
      }
      a {
        color: #000;
        &:hover {
          color: #179bd7;
        }
      }
    }
  }
  h4 {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-weight: 600;
    width: auto;
    display: inline-block;
  }
}

.itemsMenu {
  list-style-type: none;
  a {
    padding: 9px 22.5px;
    font-weight: 600;
    display: flex;
    letter-spacing: 0.025em;
    justify-content: space-between;
    text-transform: uppercase;
  }
  a::after {
    content: '❯';
  }
  a:hover {
    cursor: pointer;
    color: #179bd7 !important;
  }
}

.route {
  color: #000;
  line-height: 25px;
  text-transform: initial;
  font-size: 15px;
  letter-spacing: 0.2px;
  &:hover span {
    color: #000;
    border-bottom: 2px solid #179bd7;
  }
}

.itemsSubMenu {
  list-style-type: none;
  height: 84%;
  max-width: 20%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);

  li {
    padding-left: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  li:hover {
    cursor: pointer;
  }
  ul {
    padding-left: 0 !important;
  }
  a {
    color: rgb(255, 255, 255);
    z-index: 1000;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    &:hover {
      color: #ffffff !important;
      border-bottom: 1px solid #ffffff;
    }
  }
  .itemsSubMenu__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px 40px;
    height: 100%;
    h4 {
      font-size: 3rem !important;
      font-weight: bold;
      @media (max-width: 1734px) {
        font-size: 2rem !important;
      }
    }
  }
}

.itemsThumb {
  overflow: hidden;
  height: 100%;
  position: relative;

  h3 {
    letter-spacing: 0.05em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }
}

.items {
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  li {
    flex: 1 0 22%;
  }
}
.types {
  display: flex;
  height: 50px;
  justify-content: left;
  align-items: center;
  .svg {
    width: 40px;
    padding-right: 6px;
    img {
      width: 30px;
    }
  }
  a {
    color: black !important;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #179bd7 !important;
    }
  }
}

.toolbar {
  background-color: #000;
  top: 0;
  z-index: 998;
}

.logo {
  height: 80px;
  margin-right: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  //padding: 6px 20px 0 20px;
  //height: 55px;
  .link {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.15em;
    font-weight: 600;
    //padding-top: 14px;
    padding: 20px !important;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #179bd7;
    }
    @media (max-width: $ipadPro) {
      padding-left: 0 !important;
    }
  }
  &:hover .menu {
    display: block;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.p {
  padding-left: 140px;
  padding-right: 140px;
  @media (max-width: $laptop) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
