@import '../../../../styles/media-queries.scss';

.toolbar {
  background-color: #000;
  position: relative;
  height: 57px;
  // top: 0;
  z-index: 998;
}

.nav {
  padding: 6px 20px 0 20px;
  height: 55px;
  &:hover {
    border-bottom: 2px solid #179bd7;
  }
  .link {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.15em;
    font-weight: 600;
    padding-top: 14px;
    @media (max-width: $ipadPro) {
      padding-left: 0 !important;
    }
  }
  &:hover .menu {
    display: block;
  }
}

.menu {
  z-index: 999;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  margin: 56px 0px;
  .content {
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  }
  h5 {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    margin-bottom: 20px;
    width: auto;
    display: inline-block;
  }
}

.items {
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  columns: 4;
  // display: flex;
  li {
    flex: 1 0 22%;
    // flex: 1 0 25%;
    &.types {
      display: flex;
      height: 50px;
      justify-content: left;
      align-items: center;
      .svg {
        width: 40px;
        padding-right: 6px;
        img {
          width: 30px;
        }
      }
      .link {
        flex: 1;
        line-height: 18px;
        font-size: 15px;
      }
    }
  }
}

.route {
  color: #000;
  line-height: 25px;
  text-transform: initial;
  font-size: 15px;
  letter-spacing: 0.2px;
  &:hover span{
    color: #000;
    border-bottom: 2px solid #179bd7;
  }
  //border-bottom: 1px solid #0095ce;
}
