@import '../../../../styles/media-queries.scss';

.slide {
  height: calc(100vh - 144px);
  position: relative;
  @media (max-width: $md) {
    height: 350px;
  }
  .swiper {
    height: calc(100vh - 144px);
    @media (max-width: $md) {
      height: 350px;
    }
    img {
      height: 100%;
      @media (max-width: $md) {
        height: 350px;
      }
    }
  }

  .title {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 99;
    height: auto;
    width: 50%;
    @media (max-width: $md) {
      font-size: 30px;
    }
    @media (max-width: $sm) {
      bottom: 2px;
      width: 95%;
      font-size: 24px;
      left: 3%;
    }
  }

  section {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    text-align: center;
    color: #fff;
    width: 700px;
    margin-left: -350px;
    margin-top: -200px;

    @media (max-width: $md) {
      width: 100%;
      left: 0;
      margin-left: 0;
      margin-top: -100px;
      padding: 0 25px;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      letter-spacing: 3.5px;
      line-height: 1.105;
      text-shadow: 1px 1px 0 rgb(0 0 0 / 40%);
      @media (max-width: $md) {
        font-size: 34px;
      }
    }
    h3 {
      letter-spacing: 0.1px;
      font-size: 24px;
      line-height: 1.273;
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 8px;
      margin-top: 10px;
      text-shadow: 1px 1px 0 rgb(0 0 0 / 40%);
      @media (max-width: $md) {
        font-size: 18px;
      }
    }
  }
  .shadow {
    &::before {
      content: '';
      background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
      bottom: 0;
      height: 30%;
      left: 0;
      z-index: 5;
      width: 100%;
      position: absolute;
    }

    &::after {
      content: '';
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
      top: 0;
      height: 40%;
      opacity: 1;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}
