/* .accordion {
  .card-header {
    padding: 0;
    border-color: #e6e6e6;
    button {
      border: 0;
      padding: 20px;
      width: 100%;
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -12px;
      font-size: 26px !important;
    }
    &.card-header-filters {
      button {
        padding: 12px;
      }
    }
    &.no-border {
      border: 0;
    }
  }
  .content-white {
    background-color: #fff;
  }
  .content-gray {
    background-color: #f2f2f2;
  }
  .rotate {
    .icon {
      transform: rotate(180deg);
    }
  }
} */

.filters-overlay {
  .card-body {
    padding: 6px 0 15px;
  }
  .card-body-sub-child {
    padding: 0;
  }
}
