.accordion {
  /*   .card-parent {
    //background-color: #000;
    //color: #fff;
  } */
  .card-header {
    padding: 0;

    button {
      border: 0;
      padding: 20px;
      width: 100%;
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -15px;
      font-size: 30px !important;
    }
    &.card-header-filters {
      button {
        padding: 12px;
      }
    }
  }
  .content-white {
    background-color: #fff;
  }
  .content-gray {
    background-color: #f2f2f2;
  }
}
.rotate {
  .icon {
    transform: rotate(180deg);
  }
}
