.banner {
  .swiper-container {
    height: calc(100vh - 165px);
    @include media-breakpoint-down(md) {
      height: calc(70vh - 165px);
    }
  }
}

.form-destinations {
  z-index: 9;
  width: 100%;
  bottom: 40px;
  .form-control {
    color: #000 !important;
    border-radius: 0;
    height: calc(1.5em + 1.3rem + 2px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid transparent; // rgba(196, 196, 196, 0.9);
  }
  button {
    height: 48px;
  }
}

.banner-secondary {
  height: calc(100vh - 167px);
}

.banner-align {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p,
  h2 {
    z-index: 3;
    width: 400px;
  }
}
.banner-align-end {
  align-items: flex-end;
}

.banner-shadow {
  z-index: 1;
  background: linear-gradient(
    267.13deg,
    rgba(0, 0, 0, 0.7) 29.42%,
    rgba(0, 0, 0, 0) 67.17%
  );
}
