.banner {
  &::after {
    content: '';
    height: 40%;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    top: 0;
  }
  .swiper-container {
    height: 80vh;
  }
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.form-destinations {
  z-index: 9;
  width: 100%;
  bottom: 80px;
  .form-control {
    color: #000 !important;
    border-radius: 0;
    height: calc(1.5em + 1.8rem + 2px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid transparent; // rgba(196, 196, 196, 0.9);
  }
  button {
    height: 47px;
  }
}

.banner-secondary {
  height: 400px;
}

.banner-align {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p,
  h2 {
    z-index: 3;
    width: 400px;
  }
}
.banner-align-end {
  align-items: flex-end;
}

.banner-shadow {
  z-index: 1;
  background: linear-gradient(
    267.13deg,
    rgba(0, 0, 0, 0.7) 29.42%,
    rgba(0, 0, 0, 0) 67.17%
  );
}
