html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
picture {
  width: 100%;
}
a,
button,
a:focus,
button:focus {
  text-decoration: none !important;
  outline: none !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fs-9 {
  font-size: 9px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
  font-weight: bold;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fs-48 {
  font-size: 48px;
}

.fit {
  object-fit: cover;
  object-position: center;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.lh-17 {
  line-height: 17px;
}
.lh-23 {
  line-height: 23px;
}
.lh-25 {
  line-height: 25px;
}
.lh-29 {
  line-height: 29px;
}
.lh-34 {
  line-height: 34px;
}
.lh-40 {
  line-height: 40px;
}
.lh-45 {
  line-height: 45px;
}
.lh-48 {
  line-height: 48px;
}

.l0 {
  left: 0;
}

.r0 {
  left: 0;
}

select {
  color: #000 !important;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/icons/arrow-down.svg);
  background-position: 97% center;
  background-size: 27px;
  background-repeat: no-repeat;
}
.cover {
  select {
    border: 1px solid transparent !important;
  }
}

.icon-size-l {
  font-size: 45px !important;
}

.icon-size-m {
  font-size: 30px !important;
}

.icon-size-w {
  font-size: 20px !important;
}

::-webkit-input-placeholder {
  color: #8d8c8c !important;
}
:-moz-placeholder {
  color: #8d8c8c !important;
}
::-moz-placeholder {
  color: #8d8c8c !important;
}
:-ms-input-placeholder {
  color: #8d8c8c !important;
}
::-ms-input-placeholder {
  color: #8d8c8c !important;
}
::placeholder {
  color: #8d8c8c !important;
}

.aside {
  background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 25%, #fff 25%, #fff 100%);
  @include media-breakpoint-down(md) {
    background: transparent;
  }
}
.black {
  color: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bolder;
  color: #fff;
  font-size: 32px !important;
  @include media-breakpoint-down(md) {
    font-size: 25px !important;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  @include media-breakpoint-down(md) {
    right: 0px !important;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  @include media-breakpoint-down(md) {
    left: 0px !important;
  }
}

.form-check {
  padding-left: 3.25rem;
}
.form-check-input {
  width: 22px;
  height: 22px;
  border-color: #c4c4c4;
  margin-left: -2.25rem;
}
.form-check-label {
  font-size: 1.05rem;
  line-height: 32px;
}

.form-control-lg {
  font-size: 1.05rem;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #ced4da;
  padding-right: inherit;
  background-image: none;
  background-repeat: no-repeat;
  background-position: none;
  background-size: none;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: inherit;
  box-shadow: inherit;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}
