@import '../node_modules/rfs/scss';
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

picture {
  width: 100%;
}

a,
button,
a:focus,
button:focus {
  text-decoration: none !important;
  outline: none !important;
}
// Headings
h1 {
  font-weight: 600;
  @include font-size(2rem);
}
h2 {
  font-weight: 600;
  @include font-size(1.375rem);
}
h3 {
  font-weight: 600;
  @include font-size(1.25rem);
}
.title {
  margin: 0 0 40px;
  display: flex;
  flex: 1 1 auto;

  &::before {
    background: #0095ce;
    content: '';
    display: block;
    -webkit-flex: 0 0 5px;
    -ms-flex: 0 0 5px;
    flex: 0 0 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 0px;
    position: relative;
  }
}
.title2 {
  font-size: 1.73333333rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.titleUnderline {
  // line-height: 120% !important;
}

.titleUnderline:after {
  content: ' ';
  display: block;
  line-height: 50px;
  border: 2px solid #0095ce;
  width: 18%;
  margin: 0 auto;
  margin-top: 1%;
}

.tooltip-inner {
  background-color: rgb(51, 51, 51) !important;
}

input {
  background: #fff;
}

.text-shadow {
  text-shadow: 1px 1px 1px #020202;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

// ul,
// li {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

.listStyle ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}

.listStyle ul li {
  list-style-type: disc;
}

.fs-9 {
  font-size: 9px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 35px;
}

.fs-40 {
  font-size: 40px;
}

.fs-45 {
  font-size: 45px;
}

.fs-48 {
  font-size: 48px;
}

.fit {
  object-fit: cover;
  object-position: center;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.image-dummy {
  background-color: #ccc;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.purpose {
  color: #000;

  &:hover {
    color: #0095ce;
  }
}
.text-underlined {
  border-bottom: 1px solid #179bd7;
}

.underlined {
  border-bottom: 2px solid transparent;
}
.underlined:hover {
  transition: 0.25s ease;
  border-bottom: 2px solid #179bd7;
}
.activeFilter {
  border-bottom: 2px solid #179bd7;
}
/* Active clasess for button */
.activeButton {
  color: #0095ce !important;
  border: 1px solid #0095ce !important;
  // border-bottom: 2px solid #0095ce !important;
}

/* HOver underline animated */

/* End Underline*/
.line-through {
  text-decoration: line-through;
}
.weigth-600 {
  font-weight: 600 !important;
}
.lh-17 {
  line-height: 17px;
}

.lh-23 {
  line-height: 23px;
}

.lh-25 {
  line-height: 25px;
}

.lh-29 {
  line-height: 29px;
}

.lh-34 {
  line-height: 34px;
}

.lh-40 {
  line-height: 40px;
}

.lh-45 {
  line-height: 45px;
}

.lh-48 {
  line-height: 48px;
}

.l0 {
  left: 0;
}

.r0 {
  left: 0;
}

select {
  color: #000 !important;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/icons/arrow-down.svg);
  background-position: 97% center;
  background-size: 27px;
  background-repeat: no-repeat;
}

.cover {
  select {
    border: 1px solid transparent !important;
  }
}

.containerBox {
  max-width: 1200px !important;
  margin: 0 auto;
  overflow: hidden;
}

.containerBox2 {
  & > div {
    max-width: 1200px !important;
    margin: 0 auto;
  }
  background-color: #f5f5f5;
}

.icon-size-l {
  font-size: 45px !important;
}

.icon-size-m {
  font-size: 30px !important;
}

.icon-size-w {
  font-size: 20px !important;
}

::-webkit-input-placeholder {
  color: #8d8c8c !important;
}

:-moz-placeholder {
  color: #8d8c8c !important;
}

::-moz-placeholder {
  color: #8d8c8c !important;
}

:-ms-input-placeholder {
  color: #8d8c8c !important;
}

::-ms-input-placeholder {
  color: #8d8c8c !important;
}

::placeholder {
  color: #8d8c8c !important;
}

.aside {
  background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 25%, #fff 25%, #fff 100%);

  @include media-breakpoint-down(md) {
    background: transparent;
  }

  p,
  ul,
  li,
  div,
  a {
    font-family: 'Noto Sans JP', sans-serif !important;
  }
}

.black {
  color: #000;
}

#mision_vision .card,
#more .card {
  border: 1px solid #dee2e6;
}

.cursor-pointer {
  cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bolder;
  color: #fff;
  font-size: 32px !important;
  text-shadow: 1px 1px 1px #7a7a7a;

  @include media-breakpoint-down(md) {
    font-size: 25px !important;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  @include media-breakpoint-down(md) {
    right: 0px !important;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  @include media-breakpoint-down(md) {
    left: 0px !important;
  }
}

// Add slides Fonts //
.slidesHeadings {
  font-family: 'Electra LT Std', sans-serif;
}

.form-check {
  padding-left: 3.25rem;
}

.form-check-input {
  width: 22px;
  height: 22px;
  border-color: #c4c4c4;
  margin-left: -2.25rem;
}

.form-check-label {
  font-size: 14px;
  line-height: 32px;
}

.form-control-lg {
  font-size: 1.05rem;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #ced4da;
  padding-right: inherit;
  background-image: none;
  background-repeat: no-repeat;
  background-position: none;
  background-size: none;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: inherit;
  box-shadow: inherit;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}

.react-autosuggest__input {
  width: 600px;
  height: 30px;
  padding: 25px 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 999;
  color: #000;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
