.form-check {
  padding-left: 3.25rem;
}
.form-check-input {
  width: 22px;
  height: 22px;
  border-color: #c4c4c4;
  margin-left: -2.25rem;
}
.form-check-label {
  font-size: 1.05rem;
  line-height: 32px;
}

.form-control-lg {
  font-size: 1.05rem;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #ced4da;
  padding-right: inherit;
  background-image: none;
  background-repeat: no-repeat;
  background-position: none;
  background-size: none;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: inherit;
  box-shadow: inherit;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}
