@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$navbar-light-color: #000 !important;
$btn-border-radius: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$card-border-radius: 0;
$card-border-width: 0;
$font-weight-bold: 800;
$modal-lg: 1000px;
$skybluee: #0095ce;
$modal-inner-padding: 0;

$btn-font-weight: 600;
$btn-font-size: 13px;

$theme-colors: (
  'primary': #0095ce,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
) !default;

@import '~bootstrap/scss/bootstrap';
@import '~swiper/swiper.scss';
@import 'base.scss';
