.vacation {
  margin-bottom: 70px;
}

.vacation-info {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #ffffff;
  position: absolute;
  padding: 10px 20px;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  cursor: pointer;
  min-height: 78px;
  p {
    padding-top: 15px;
  }
  &:hover {
    top: 0;
  }
  &:hover p {
    display: block !important;
  }
}

.recomentation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: radial-gradient(
    35.77% 35.77% at 50% 50%,
    rgba(43, 41, 41, 0) 0%,
    rgba(0, 0, 0, 0.112) 55.52%,
    rgba(0, 0, 0, 0.448) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.traveler-item {
  background: rgba(0, 0, 0, 0.7);
  padding: 70px 20px 35px 20px;
  h4 {
    padding-bottom: 50px;
  }
}
.more {
  background: #c4c4c4;
  width: 196px;
  display: block;
  height: 41px;
  line-height: 41px;
  font-size: 15px;
  color: #000000 !important;
  margin: 0 auto;
}

.news {
  height: 300px;
  overflow: hidden;
  width: 100%;
  position: relative;
  .found {
    background: radial-gradient(
      35.77% 35.77% at 50% 50%,
      rgba(43, 41, 41, 0) 0%,
      rgba(0, 0, 0, 0.144) 55.52%,
      rgba(0, 0, 0, 0.576) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .news {
    height: 400px;

    .found {
      background: rgba(0, 0, 0, 0.95);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.95));
    }
  }
}

.filters-header {
  display: none;
}
.header-fill {
  display: none;
}
@media (max-width: 575.98px) {
  .filters-overlay {
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: scroll;
    display: none;
    &.filter-show {
      display: block;
      .header-fill {
        display: block;
      }
    }
  }

  .filters-header {
    z-index: 999;
    background: #e5e5e5;
    width: 100%;
    height: 52px;
    top: 50px;
    text-align: center;
    padding: 10px;
    display: block;
  }
  .filter-close {
    position: absolute;
    top: 11px;
    right: 5px;
    color: #000;
  }
}

.card-month {
  .form-check {
    display: inline-block;
    width: 33.3%;
      }
}
