// $md: 991.98px;
$laptop: 1440px;
$md: 1023.9px;
$sm: 767.98px;
$ipadPro: 1024px;
$xss: 667px;
$xs: 375px;
$lg: 992px;

// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1400px;
