header {
  overflow: hidden;
}

.hide {
  display: none !important;
}
.nav {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  background-color: #000;
  .navbar {
    position: static;
  }
  .container {
    display: block;
  }
  h5 {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    margin-bottom: 20px;
    width: auto;
    display: inline-block;
  }
}

.nav-item {
  padding: 0 30px 0 0;
}

.nav-destionations:hover .destinations {
  display: block;
}

.destinations {
  z-index: 99;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px 0;
  a {
    color: #000;
  }
}

.destinations-content {
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.destinations-items {
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  li {
    flex: 1 0 30%;

    &.types-item {
      //border-bottom: 1px solid #000;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      i {
        width: 40px;
        padding-right: 6px;
      }
      a {
        flex: 1;
        line-height: 18px;
        font-size: 15px;
      }
    }
  }
}

.l0 {
  left: 0;
}

.r0 {
  left: 0;
}

.show > .nav-link,
.active > .nav-link,
.nav-link.show,
.nav-link.active {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  @include media-breakpoint-down(md) {
    color: #000 !important;
  }
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.15em;
  font-weight: 600;
  padding-top: 12px;
}
