.package-slide {
  height: calc(100vh - 165px);
  @include media-breakpoint-down(md) {
    height: calc(80vh - 165px);
  }
  position: relative;
  .swiper-container {
    height: calc(100vh - 167px);
    @include media-breakpoint-down(md) {
      height: calc(80vh - 165px);
    }
  }
  .swiper-container::before {
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    bottom: 0;
    height: 30%;
    left: 0;
    z-index: 5;
    width: 100%;
    position: absolute;
  }

  .swiper-container::after {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    top: 0;
    height: 40%;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .title-slide {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 99;
    height: auto;
    width: 50%;
  }
}
