.package-slide {
  height: calc(100vh - 165px);
  @include media-breakpoint-down(md) {
    height: auto;
  }
  position: relative;
  .swiper-container {
    height: calc(100vh - 165px);
    @include media-breakpoint-down(md) {
      height: auto;
    }
    img {
      height: calc(100vh - 165px);
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    @include media-breakpoint-down(md) {
      left: 0;
      &::after {
        font-size: 24px;
      }
    }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    @include media-breakpoint-down(md) {
      right: 0;
      &::after {
        font-size: 24px;
      }
    }
  }

  .swiper-container::before {
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    bottom: 0;
    height: 30%;
    left: 0;
    z-index: 5;
    width: 100%;
    position: absolute;
  }

  .swiper-container::after {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    top: 0;
    height: 40%;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .title-slide {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 99;
    height: auto;
    width: 50%;
    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
    @include media-breakpoint-down(sm) {
      bottom: 2px;
      width: 95%;
      font-size: 19px;
      left: 3%;
    }
  }
}

.package-slide-modal {
  height: 758px;
  position: relative;

  @include media-breakpoint-down(lg) {
    height: auto;
  }

  h3 {
    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin: 0;
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    @include media-breakpoint-down(md) {
      left: 0;
      &::after {
        font-size: 24px;
      }
    }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    @include media-breakpoint-down(md) {
      right: 0;
      &::after {
        font-size: 24px;
      }
    }
  }

  .swiper-container {
    height: 758px;
    img {
      width: 1000px;
      height: 700px;
    }
    @include media-breakpoint-down(lg) {
      height: auto;
      h1 {
        font-size: 20px;
      }
    }
  }
}
