.tag {
  background-color: #0095ce;
  position: absolute;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.title {
  font-weight: 600;
}

.svg {
  width: 30px;
  padding-right: 6px;
  img {
    width: 30px;
  }
}
